services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - {{ monitoring_dir }}/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER={{ grafana_admin_user }}
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}
    ports:
      - "3000:3000"
    restart: unless-stopped